@import "~bootstrap/scss/bootstrap";

.container {
    width: 90%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .row {
        width: 100%;
        min-height: 300px;

        .col {
            background-color: yellow;
            min-height: 200px;
            border: 1px solid black;
        }
    }
}